:root {
  --default-light: #e2eaf0;
  --default-dark: #111111;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--default-dark);
  color: var(--default-dark);
  height: 100%;
  margin: 0%;
}

* {
  box-sizing: border-box;
}

.background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("./assets/silksong_bellhart_scene.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.center {
  position: absolute;
  display: block;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  max-width: 480px;
}

.center h1,
.center h2 {
  text-align: center;
}

.center input[type=text],
.center input[type=password] {
  width: 78%; 
}

.center input[type=submit] {
  display: block;
  margin: 0 auto;
  width: 86px;
}

.center input {
  padding: 4px;
  background-color: rgb(242, 242, 242);
  border: none;
  border-bottom: 2px solid black;
  transition: 100ms;
  border-radius: 4px;
  padding: 6px;
  outline: none;
}

.center input:hover {
  background-color: rgb(230, 230, 242);
}

.center input:active,
.center input[type=text]:focus,
.center input[type=password]:focus {
  outline: none;
  background-color: rgb(224, 224, 242);
  border: none;
  border-bottom: 2px solid blue;
}

.center label {
  display: inline-block;
  width: 20%;
  margin: 8px 0;
}
