body {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  margin: 0%;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Strive;
  src: url(./assets/Impact-Strive.otf);
}

.background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("./assets/silksong_bellhart_scene.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: -1;
}

.center {
  position: absolute;
  display: block;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

form h1 {
  text-align: center;
}

form input[type=text] {
  width: 78%; 
}

form input[type=text],
form button[type=submit] {
  padding: 4px;
  background-color: rgb(242, 242, 242);
  border: none;
  border-bottom: 2px solid black;
  transition: 0.2s;
}

form input[type=text]:hover,
form button[type=submit]:hover {
  background-color: rgb(230, 230, 242);
}

form input[type=text]:focus,
form button[type=submit]:focus {
  outline: none;
  background-color: rgb(224, 224, 242);
  border: none;
  border-bottom: 2px solid blue;
}

form label {
  display: inline-block;
  width: 20%;
}
