body {
  background-color: black;
  background-image: url(assets/silksong_bellhart_scene.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0%;
}

* {
  box-sizing: border-box;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

h1 {
  text-align: center;
  
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
}