html, body {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  padding: 0% !important;
  margin: 0% !important;
}

* {
  box-sizing: border-box;
}

.sidepanel {
  background-color: darkgray;
  float: left;
  height: 100%;
  width: 30%;
}

.sidepanel h2,
.sidepanel p {
  text-align: center;
}

.mainpanel {
  background-color: aqua;
  height: 100%;
  width: 70%;
  overflow: hidden;
}

.scroller {
  height: calc(100% - 120px);
  overflow: auto;
}

.content {
  height: auto;
  width: 100%;
}

.mainpanel h1,
.mainpanel p {
  text-align: center;
  font-size: larger;
}

.toppanel {
  overflow: hidden;
  background-color: blueviolet;
  height: 120px;
}

.toppanel h2,
.toppanel p {
  text-align: center;
}
