:root {
  --top-height: 102px;
  --top-option-height: 32px;
  --sidepanel-width: 280px;
  --side-tab-width: 32px;
  --slider-width: calc(var(--sidepanel-width) + var(--side-tab-width));
}

html, body {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  padding: 0% !important;
  margin: 0% !important;
}

* {
  box-sizing: border-box;
}

p, h1, h2 {
  text-align: center;
}

.slider {
  width: var(--slider-width);
  height: 100%;
  position: fixed;
  left: calc(0px - (var(--sidepanel-width)));
  transition: 0.5s;
  z-index: 5;
  overflow: hidden;
}

.sidepanel {
  background-color: darkgray;
  border-right: 2px solid black;
  box-shadow: 1px 0 6px 1px rgba(0, 0, 0, 0.2);
  width: var(--sidepanel-width);
  height: 100%;
  float: left;
}

.slider:hover {
  left: 0;
}

.slider:hover .sidepanel {
  box-shadow: 6px 0 6px 6px rgba(0, 0, 0, 0.2);
}

.sideTab {
  width: var(--side-tab-width);
  height: 100%;
  float: left;
}

.sideTab .tab {
  background-color: khaki;
  width: calc(var(--side-tab-width) - 12px);
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.sideTab img {
  width: 100%;
  margin: auto 0;
}

.mainpanel {
  background-color: rgb(180, 0, 81);
  height: 100%;
  overflow: hidden;
}

.toppanel {
  overflow: hidden;
  background-color: blueviolet;
  height: var(--top-height);
}

.toppanel .header {
  height: calc(100% - var(--top-option-height));
  background-color: cadetblue;
  padding: 6px;
}

.toppanel img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.toppanel #category {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.toppanel .footrow {
  width: 100%;
  background-color: rgb(207, 207, 207);
  height: var(--top-option-height);
}

.sidepanel .footrow {
  text-align: center;
}

.toppanel .footrow button,
.toppanel .footrow input[type="text"] {
  background-color: transparent;
  color: black;
  border: none;
}

.sidepanel .footrow button {
  height: var(--top-option-height);
}

.sidepanel .footrow button:hover {
  filter: invert();
}

.sidepanel .footrow button:active {
  background-color: lightgray;
}

.mainpanel .footrow button,
.mainpanel .footrow input[type="text"] {
  height: calc( var(--top-option-height) - 4px );
  font-weight: bold;
  border-bottom: 2px solid black;
}

.mainpanel .footrow button {
  width: 90px;
}

.mainpanel .footrow button:hover,
.mainpanel .footrow input[type="text"]:hover {
  border: 0;
  border-bottom: 2px solid blue;
}

.mainpanel .footrow button:active,
.mainpanel .footrow input[type="text"]:focus {
  outline: none;
  background-color: white;
}



.container {
  height: calc(100% - var(--top-height));
  overflow: auto;
}

.container a {
  text-decoration: none;
}

.container .category {
  background-color: green;
  color: black;

  text-align: center;
  font-weight: bold;
  font-size: 20px;

  margin: 12px 8px;
  padding: 12px;
  border-radius: 8px;
}

.container .category:hover {
  background-color: greenyellow;
}

.container .category:active {
  background-color: yellow;
}

.content {
  width: 100%;

  border-spacing: 0;
  table-layout: fixed;
}

.content tr {
  border-bottom: 2px solid black;
}

.content th,
.content td {
  width: 240px;
  height: 36px;

  border-right: 2px solid black;
  border-bottom: 2px dotted black;

}

.content tr:nth-child(odd) {
  /*
  lowers opacity by 20%
  works like this cause rows use the background as color
  */
  background-color: rgba(0, 0, 0, 0.2);
}

.content tr:nth-child(odd) td {
  /*
  Lowers the opacity by 20%
  this way, it doesn't override the first rows color
  */
  filter: brightness(80%);
}

.content th:nth-child(1),
.content td:nth-child(1) {
  width: 80px;

  background-color: rgb(218, 218, 218);

  text-align: right;

  position: sticky;
  left: 0;

  z-index: 1;
}

.content th {
  height: 32px;
  
  background-color: white;
  border-bottom: 2px solid black;
  
  position: sticky;
  top: 0;
  z-index: 2;
}

.content th:nth-child(1) {
  background-color: white;
  z-index: 3 !important;
}

.darker {
  background-color: rgba(0, 0, 0, 0.2);
}
