:root {
  --top-height: 102px;
  --top-option-height: 32px;
  --sidepanel-width: 280px;
  --side-tab-width: 32px;
  --slider-width: calc(var(--sidepanel-width) + var(--side-tab-width));
}

html, body {
  background-color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  padding: 0% !important;
  margin: 0% !important;
}

* {
  box-sizing: border-box;
}

p, h1, h2 {
  text-align: center;
}

.slider {
  width: var(--slider-width);
  height: 100%;
  position: fixed;
  left: calc(0px - (var(--sidepanel-width)));
  transition: 0.5s;
  z-index: 5;
  overflow: hidden;
}

.sidepanel {
  background-color: darkgray;
  border-right: 2px solid rgb(14, 97, 206);
  width: var(--sidepanel-width);
  height: 100%;
  float: left;
}

.slider:hover {
  left: 0;
}

.slider:hover .sidepanel {
  box-shadow: 2px 0 12px 6px rgba(0, 0, 0, 0.2);
}

.sideTab {
  width: var(--side-tab-width);
  height: 100%;
  float: left;
}

.sideTab .tab {
  background-color: rgb(14, 97, 206);
  width: calc(var(--side-tab-width) - 6px);
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.sideTab img {
  width: 100%;
  margin: auto 0;
}

.mainpanel {
  background-color: white;
  height: 100%;
  overflow: hidden;
}

.toppanel {
  overflow: hidden;
  /*background-color: blueviolet;*/
  height: var(--top-height);
}

.toppanel .header {
  height: calc(100% - var(--top-option-height));
  background-color: rgb(121, 165, 185);
  padding: 12px;
}

.toppanel img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.toppanel #category {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.toppanel .footrow {
  width: 100%;
  background-color: rgb(188, 204, 230);
  height: var(--top-option-height);
}

.sidepanel .footrow {
  text-align: center;
}

.toppanel .footrow button,
.toppanel .footrow input[type="text"] {
  background-color: transparent;
  color: black;
  border: none;
}

.sidepanel .footrow button {
  height: var(--top-option-height);
}

.sidepanel .footrow button:hover {
  filter: brightness(140%);
}

.sidepanel .footrow button:active {
  filter: invert();
}

.mainpanel .footrow button,
.mainpanel .footrow input[type="text"] {
  height: calc( var(--top-option-height) - 6px);
  position: relative;
  top: 2px;
  font-weight: bold;
  border-bottom: 2px solid black;
  border-radius: 4px;
  margin: 0 4px;
}

.mainpanel .footrow button {
  width: 90px;
}

.mainpanel .footrow button:hover,
.mainpanel .footrow input[type="text"]:hover {
  border: 0;
  border-bottom: 2px solid blue;
  background-color: rgba(0, 0, 0, 0.1);
}

.mainpanel .footrow button:active,
.mainpanel .footrow input[type="text"]:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}



.container {
  height: calc(100% - var(--top-height));
  overflow: auto;
}

.container a {
  text-decoration: none;
}

.container .category {
  background-color: rgb(45, 106, 219);
  color: black;

  text-align: center;
  font-weight: bold;
  font-size: 20px;

  margin: 12px 8px;
  padding: 12px;
  border-radius: 8px;
}

.container .category:hover {
  background-color: rgb(87, 133, 219);
}

.container .category:active {
  background-color: rgb(30, 72, 151);
}

.content {
  width: 100%;

  border-spacing: 0;
  table-layout: fixed;
}

.content tr {
  border-bottom: 2px solid black;
}

.content th,
.content td {
  width: 240px;
  height: 36px;

  border-right: 1px solid black;
  border-bottom: 1px dotted black;
  padding: 8px;
  background-color: rgb(227, 235, 245);
}
.content tr:nth-child(odd) td {
  /*
  adds filter to darken every other row
  this way, it doesn't override the first rows color
  */
  filter: brightness(90%);
}

.content th:nth-child(1),
.content td:nth-child(1) {
  width: 80px;

  background-color: rgb(176, 217, 230);

  text-align: right;
  border-right: 2px solid black;
  position: sticky;
  left: 0;
  padding: 8px;
  z-index: 1;
}

.content th {
  height: 32px;
  
  background-color: white;
  border-bottom: 2px solid black;
  
  position: sticky;
  top: 0;
  z-index: 2;
}

.content th:nth-child(1) {
  background-color: white;
  z-index: 3 !important;
}

.darker {
  background-color: rgba(0, 0, 0, 0.2);
}
