html, body {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  padding: 0% !important;
  margin: 0% !important;
}

* {
  box-sizing: border-box;
}

p, h1, h2 {
  text-align: center;
}

.sidepanel {
  background-color: darkgray;
  float: left;
  height: 100%;
  width: 30%;
  border-right: 2px solid black;
}

.mainpanel {
  background-color: rgb(180, 0, 81);
  height: 100%;
  width: 70%;
  overflow: hidden;
}

.container {
  /*
  I don't like how this needs to be lowered
  */
  height: calc(100% - 84px);
  overflow: auto;
}

.toppanel {
  overflow: hidden;
  background-color: blueviolet;
  height: 84px;
}

.toppanel .category {
  height: 60px;
  background-color: cadetblue;
  padding: 6px;
}

#category {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.toppanel .options {
  width: 100%;
  background-color: rgb(207, 207, 207);
  height: 24px;
}

.toppanel .options button {
  width: 90px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid black;
}

.toppanel .options button:hover {
  border: 0;
  border-bottom: 2px solid blue;
}

.toppanel .options button:active {
  background-color: lightgray;
}

.content {
  width: 100%;

  border-spacing: 0;
  table-layout: fixed;
}

.content tr {
  border-bottom: 2px solid black;
}

.content th,
.content td {
  width: 320px;
  height: 36px;

  border-right: 2px solid black;
  border-bottom: 2px dotted black;

}

.content tr:nth-child(odd) {
  /*
  lowers opacity by 20%
  works like this cause rows use the background as color
  */
  background-color: rgba(0, 0, 0, 0.2);
}

.content tr:nth-child(odd) td {
  /*
  Lowers the opacity by 20%
  this way, it doesn't override the first rows color
  */
  filter: brightness(80%);
}

.content th:nth-child(1),
.content td:nth-child(1) {
  width: 80px;

  background-color: rgb(218, 218, 218);

  text-align: right;

  position: sticky;
  left: 0;

  z-index: 1;
}

.content th {
  height: 32px;
  
  background-color: white;
  border-bottom: 2px solid black;
  
  position: sticky;
  top: 0;
  z-index: 2;
}

.container th:nth-child(1) {
  background-color: white;
  z-index: 3 !important;
}

.darker {
  background-color: rgba(0, 0, 0, 0.2);
}
