:root {
  /*Sizes*/
  --top-header-height: 70px;
  --top-option-height: 32px;
  --top-height: calc(var(--top-header-height) + var(--top-option-height));
  --sidepanel-width: 280px;
  --side-tab-width: 26px;
  /*Colors*/
  --back-light: #effaff;
  --back-dark: #111111;
  --text-light: #ffffff;
  --text-dark: #000000;

  --clr-b-normal: #c6e5fc;
  --clr-b-hover: #2C6892;
  --clr-b-press: #F3FAFF;

  
  --clr-main-light: #c7ddee;
  --clr-main-base: #6ea7d0;
  --clr-main-dark: #4e8fbd;
}

html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--back-light);
  color: var(--text-dark);
  height: 100%;
  padding: 0%;
  margin: 0%;
}

* {
  box-sizing: border-box;
}

p, h1, h2 {
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 
 * Add touch screen support
 * Have sidepanel slide only from tab
 */

@media screen and (min-width: 1201px) {
  .slider {
    left: 0;
    float: left;
  }
  .sideTab {
    display: none;
  }
  .mainpanel {
    width: calc(100% - var(--sidepanel-width));
    position: absolute;
    left: var(--sidepanel-width);
  }
}

@media screen and (max-width: 1200px) {
  .slider {
    position: fixed;
    left: calc(0px - (var(--sidepanel-width)));
    z-index: 5;
  }
  .slider:hover {
    left: 0;
  }
  .slider:hover .sidepanel {
    box-shadow: 2px 0 12px 6px color-mix(in srgb, var(--back-dark), transparent 80%);
  }
}

.slider {
  transition: 0.5s;
  height: 100%;
  overflow: hidden;
}

.sidepanel {
  width: var(--sidepanel-width);
  height: 100%;
  border-right: 2px solid black;
  float: left;
}

.sideTab {
  width: var(--side-tab-width);
  height: inherit;
  float: left;
}

.tab {
  height: 60px;
  background-image: url(./assets/pixelcat.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: black;
  position: relative;
  top: 5px;
}

.mainpanel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  background-color: var(--clr-main-base);
  height: var(--top-header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;

}

.logo {
  background-image: url(./assets/pixelcat.png);
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.catDisplay {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: var(--text-light);
}

.menu {
  background-image: url(./assets/blbox.png);
  width: 54px;
  height: 54px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  align-self: center;
}

.menu:hover {
  background-image: url(./assets/pixelcat.png);
}

.options {
  height: var(--top-option-height);
  width: 100%;
  background-color: var(--clr-main-dark);
  display: inline-flex;
  align-items: stretch;
  padding: 3px 0;
  justify-content: space-evenly;
}


.options button {
  width: 24px;
}

.bclr {
  border: none;
  transition: 60ms;
  background-color: var(--clr-b-normal);
  font-weight: bold;
  border-radius: 6px;
  border-bottom: 2px solid black;
}

.bclr:hover, .bclr:focus-visible {
  background-color: var(--clr-b-hover);
  color: var(--text-light);
  outline: none;
}

.bclr:active, .bclr:focus {
  background-color: var(--clr-b-press);
  color: inherit;
  outline: none;
}

/*
button, a,
input[type="text"]{
}

input[type="text"]::placeholder {
}

button:hover, button:focus-visible, 
a:hover, a:focus-visible,
input[type="text"]:hover {
}

input[type="text"]:hover::placeholder{
}

button:active, a:active,
input[type="text"]:focus {
}

input[type="text"]:focus::placeholder{
}
*/

.categories {
  background-color: var(--clr-main-dark);
  margin: auto 8px;
  padding: 8px;
  border-radius: 6px;
}

.categories h2 {
  color: var(--text-light);
}

.category {
  display: block;
  margin: 12px 0;
  padding: 12px;
  font-size: 20px;
  text-align: center;
  border-radius: 6px;
}

.swidth {
  min-width: 160px;
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.ovr {
  width: 15%;
  height: 100%;
}

.container {
  height: 100%;
  background-color: var(--clr-main-base);
  overflow: auto;
}

/*Datatable*/

.content {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.content th,
.content td {
  width: 240px;
  height: 36px;
  padding: 8px;
  border-width: 1px;
  border-right-style: solid;
  border-bottom-style: dashed;
  border-color: var(--clr-main-dark);
  background-color: var(--back-light);
}

.content tr:nth-child(odd) td {
  background-color: color-mix(in srgb, var(--back-light) 100%, var(--clr-main-base) 30%);
}

.content tr:nth-child(odd) td:nth-child(1) {
  background-color: color-mix(in srgb, var(--text-light) 100%, var(--clr-main-base) 30%);
}

.content th:nth-child(1),
.content td:nth-child(1) {
  width: 64px;
  padding: 8px;
  background-color: var(--text-light);
  text-align: right;
  position: sticky;
  left: 0;
  z-index: 1;
}

.content th {
  height: 32px;
  border-bottom-style: double;
  border-bottom-width: 4px;
  background-color: var(--text-light);
  position: sticky;
  top: 0;
  z-index: 1;
}

.content th:nth-child(1) {
  background-color: var(--text-light);
  z-index: 2 !important;
}
