:root {
  /*Sizes*/
  --top-header-height: 70px;
  --top-option-height: 32px;
  --top-height: calc(var(--top-header-height) + var(--top-option-height));
  --sidepanel-width: 280px;
  --side-tab-width: 26px;
  /*Colors*/
  --default-light: #e2eaf0;
  --default-dark: #111111;
  /*Temporary names until I figure out a better way*/
  --main-base: #5D93BA;
  --main-light: #A5C9E3;
  --main-dark: #2C6892;
  --main-font-light: #E7F3FB;
  --main-font-dark: #0D3C5D;

  --comp-base: #6C6CC5;
  --comp-light: #AEAEE8;
  --comp-dark: #3B3B9F;
  --comp-font-light: #E9E9FC;
  --comp-font-dark: #161666;
}

html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--default-light);
  color: var(--default-dark);
  height: 100%;
  padding: 0%;
  margin: 0%;
}

* {
  box-sizing: border-box;
}

p, h1, h2 {
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1201px) {
  .slider {
    position: static;
    left: 0;
    float: left;
  }
  .sideTab {
    display: none;
  }
  .mainpanel {
    width: calc(100% - var(--sidepanel-width));
    position: absolute;
    left: var(--sidepanel-width);
  }
}

@media screen and (max-width: 1200px) {
  .slider {
    position: fixed;
    left: calc(0px - (var(--sidepanel-width)));
    transition: 0.5s;
    z-index: 5;
  }
  .slider:hover {
    left: 0 !important;
  }
  .slider:hover .sidepanel {
    box-shadow: 2px 0 12px 6px color-mix(in srgb, var(--main-dark), transparent 80%);
  }
}

.slider {
  height: 100%;
  overflow: hidden;
}

.sidepanel {
  width: var(--sidepanel-width);
  height: 100%;
  border-right: 2px solid var(--comp-dark);
  float: left;
}

.sideTab {
  width: var(--side-tab-width);
  height: inherit;
  float: left;
}

.sideTab .tab {
  display: flex;
  width: var(--side-tab-width);
  height: 60px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--comp-dark);
  justify-content: center;
  position: relative;
  top: 5px;
}

.tab img {
  width: 100%;
  margin: auto 0;
}

.mainpanel {
  height: 100%;
}

/*header*/

header {
  width: 100%;
  height: var(--top-height);
}

.top {
  height: var(--top-header-height);
  padding: 12px;
  background-color: var(--main-base);
}

header img {
  display: block;
  height: 100%;
  margin: 0 auto;
}

.catDisplay {
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  color: var(--main-font-light);
}

/*option row*/

.options {
  height: var(--top-option-height);
  background-color: var(--comp-base);
  display: inline-flex;
  width: inherit;
}

.options button,
.options input[type="text"] {
  border: none;
  background-color: transparent;
  color: inherit;
  transition: 60ms;
}

/*Side ootion row*/

.sideOp {
  justify-content: center;
}

.sideOp button {
  height: var(--top-option-height);
}

.sideOp button:hover {
  filter: brightness(140%);
}

.sideOp button:active {
  filter: invert();
}

/*Main option row*/

.mainOp {
  padding: 3px 0;
  justify-content: space-around;
}

.swidth {
  min-width: 160px;
  width: 30%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.mainOp button,
.mainOp input[type="text"] {
  background-color: var(--comp-light);
  color: var(--comp-font-dark);
  height: 100%;
  font-weight: bold;
  border-bottom: 2px solid var(--comp-dark);
  border-radius: 4px;
}

.mainOp button {
  width: 24px;
}

.mainOp button:hover,
.mainOp input[type="text"]:hover {
  border: 0;
  border-bottom: 2px solid var(--comp-font-dark);
  background-color: var(--comp-dark);
  color: var(--comp-font-light);
}

.mainOp button:active,
.mainOp input[type="text"]:focus {
  border-bottom: 2px solid var(--comp-font-dark);
  outline: none;
  background-color: var(--comp-font-light);
  color: var(--comp-font-dark);
}

/*Containers*/

.container {
  height: calc(100% - var(--top-height));
  background-color: var(--default-light);
  overflow: auto;
}

.container .category {
  margin: 12px 8px;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  background-color: var(--main-light);
  color: var(--main-font-dark);
}

.container .category:hover {
  background-color: var(--main-dark);
  color: var(--main-font-light);
}

.container .category:active {
  background-color: var(--main-font-light);
  color: var(--main-font-dark);
}

.content {
  width: 100%;
  height: 100%;
  color: var(--main-font-dark);
  border-spacing: 0;
  table-layout: fixed;
}

.content th,
.content td {
  width: 240px;
  height: 36px;
  padding: 8px;
  border-width: 1px;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-color: var(--main-dark);
  background-color: var(--default-light);
}

.content tr:nth-child(odd) td {
  background-color: color-mix(in srgb, var(--default-light) 100%, var(--main-light) 30%);
}

.content th:nth-child(1),
.content td:nth-child(1) {
  width: 64px;
  padding: 8px;
  text-align: right;
  position: sticky;
  left: 0;
  z-index: 1;
}

.content th {
  height: 32px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  background-color: var(--main-font-light);
  position: sticky;
  top: 0;
  z-index: 2;
}

.content th:nth-child(1) {
  background-color: var(--main-font-light);
  z-index: 3 !important;
}
