:root {
  /*Sizes*/
  --top-header-height: 70px;
  --top-option-height: 32px;
  --top-height: calc(var(--top-header-height) + var(--top-option-height));
  --sidepanel-width: 280px;
  --side-tab-width: 26px;
  /*Colors*/
  --back-light: #effaff;
  --back-dark: #111111;
  --text-light: #ffffff;
  --text-dark: #000000;

  --main-hue: 206;
  --back-light: hsl(var(--main-hue), 100%, 99%);
  --clr-main-light: hsl(var(--main-hue), 53%, 85%);
  --clr-main-base: hsl(var(--main-hue), 51%, 62%);
  --clr-main-dark: hsl(var(--main-hue), 45%, 52%);
  --clr-main-darker: hsl(var(--main-hue), 72%, 24%);
  --clr-b-normal: hsl(var(--main-hue), 90%, 88%);
  --clr-b-hover: hsl(var(--main-hue), 53%, 37%);
  --clr-b-press: hsl(var(--main-hue), 100%, 97%);
}

html, body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--clr-main-base);
  color: var(--text-dark);
  height: 100%;
  padding: 0%;
  margin: 0%;
}

* {
  box-sizing: border-box;
}

p, h1, h2 {
  color: var(--text-light);
  text-align: center;
  font-weight: bold;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
 * This for options
 * W.I.P
 */

.menu2 {
  background-color: var(--clr-main-dark);
  width: 90%;
  height: 100%;
  margin: 0 auto 12px;
  border-radius: 8px;
  flex-direction: column;
  padding: 12px;
}

/* 
 * Add touch screen support
 * Have sidepanel slide only from tab
 */

@media screen and (min-width: 1201px) {
  .slider {
    left: 0;
    float: left;
  }
  .sideTab {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .slider {
    position: fixed;
    left: calc(0px - (var(--sidepanel-width)));
    z-index: 5;
  }
  .slider:hover {
    left: 0;
  }
  .slider:hover .sidepanel {
    box-shadow: 2px 0 12px 6px color-mix(in srgb, var(--back-dark), transparent 80%);
  }
}

.slider {
  transition: 0.5s;
  height: 100%;
}

.sidepanel {
  width: var(--sidepanel-width);
  height: 100%;
  border-right: 2px solid var(--clr-main-darker);
  float: left;
  background-color: var(--clr-main-base);
  display: flex;
  flex-direction: column;
}

.sideTab {
  width: var(--side-tab-width);
  height: inherit;
  float: left;
}

.tab {
  height: 60px;
  background-image: url(./assets/pixelcat.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: var(--clr-main-darker);
  position: relative;
  top: 5px;
}

.mainpanel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  min-height: var(--top-header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.catDisplay {
  margin: 0;
  font-size: 36px;
}

.menu {
  background-image: url(./assets/blbox.png);
  width: 54px;
  height: 54px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.menu:hover {
  filter: drop-shadow(0 0 4px #515151);
}

.menu:active {
  filter: drop-shadow(0 0 2px #8b8b8b);
}

.options {
  min-height: var(--top-option-height);
  width: 100%;
  background-color: var(--clr-main-dark);
  display: flex;
  align-items: stretch;
  padding: 3px 0;
  justify-content: space-evenly;
}


.options button {
  width: 24px;
}

.bclr {
  border: none;
  transition: 60ms;
  background-color: var(--clr-b-normal);
  font-weight: bold;
  border-radius: 6px;
  border-bottom: 2px solid var(--clr-main-darker);
}

.bclr:hover, .bclr:focus-visible {
  background-color: var(--clr-b-hover);
  color: var(--text-light);
  outline: none;
}

.bclr:active, .bclr:focus {
  background-color: var(--clr-b-press);
  color: inherit;
  outline: none;
}

.categories {
  background-color: var(--clr-main-dark);
  margin: auto 8px 8px;
  padding: 8px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.category {
  display: block;
  margin: 12px 0 0;
  padding: 12px;
  font-size: 20px;
  text-align: center;
}

.swidth {
  min-width: 160px;
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.ovr {
  width: 15%;
  height: 100%;
}

.container {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/*Datatable*/

.content {
  width: 100%;
  height: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.content th,
.content td {
  width: 240px;
  height: 36px;
  padding: 8px;
  border-width: 1px;
  border-right-style: solid;
  border-bottom-style: dashed;
  border-color: var(--clr-main-dark);
  background-color: var(--back-light);
}

.content tr:nth-child(odd) td {
  background-color: color-mix(in srgb, var(--back-light) 100%, var(--clr-main-base) 20%);
}

.content th:nth-child(1),
.content td:nth-child(1) {
  width: 64px;
  padding: 8px;
  text-align: right;
  position: sticky;
  left: 0;
  z-index: 1;
}

.content th {
  height: 32px;
  border-bottom-style: double;
  border-bottom-width: 4px;
  background-color: var(--back-light);
  position: sticky;
  top: 0;
  z-index: 1;
}

.content th:nth-child(1) {
  background-color: var(--back-light);
  z-index: 2 !important;
}
