html, body {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  padding: 0% !important;
  margin: 0% !important;
}

* {
  box-sizing: border-box;
}

p, h1, h2 {
  text-align: center;
}

.sidepanel {
  background-color: darkgray;
  float: left;
  height: 100%;
  width: 30%;
}

.mainpanel {
  background-color: aqua;
  height: 100%;
  width: 70%;
  overflow: hidden;
}

.scroller {
  height: calc(100% - 120px);
  overflow: auto;
}

.content {
  height: auto;
  width: 100%;
}

.toppanel {
  overflow: hidden;
  background-color: blueviolet;
  height: 108px;
}

.toppanel .category {
  height: 60px;
  background-color: cadetblue;
  padding: 8px;
}

#category {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
}

.toppanel .options {
  width: 100%;
  background-color: rgb(207, 207, 207);
  height: 24px;
}

.toppanel .options button {
  width: 90px;
  background-color: transparent;
  color: black;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid black;
}

.toppanel .options button:hover {
  border: 0;
  border-bottom: 2px solid blue;
}

.toppanel .options button:active {
  background-color: lightgray;
}

#markers {
  background-color: white;
  font-size: 18px;
  width: 100%;
  height: 24px;
}

#markers .septer {
  width: 8px;
}

#markers p {
  margin: 0;
  text-align: left;
}
