html, body {
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  margin: 0%;
}

* {
  box-sizing: border-box;
}

.sidepanel {
  background-color: darkgray;
  float: left;
  height: 100%;
  width: 30%;
}

.sidepanel h2,
.sidepanel p {
  text-align: center;
}

.mainpanel {
  background-color: aqua;
  display: inline-block;
  height: 100%;
  width: 70%;
}

.scroller {
  height: calc(100% - 130px);
  width: 100%;
  overflow: auto;
}

.content {
  height: auto;
  width: 100%;
}

.mainpanel h1,
.mainpanel p {
  text-align: center;
  font-size: larger;
}

.sticky {
  top: 0;
  position: sticky;
  background-color: blueviolet;
  height: 120px;
}

.sticky h2,
.sticky p {
  margin: 0;
  text-align: center;
}
