:root {
  --top-header-height: 70px;
  --top-option-height: 32px;
  --top-height: calc(var(--top-header-height) + var(--top-option-height));
  --sidepanel-width: 280px;
  --side-tab-width: 26px;
}

html, body {
  background-color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 100%;
  padding: 0% !important;
  margin: 0% !important;
}

* {
  box-sizing: border-box;
}

p, h1, h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

.slider {
  height: 100%;
  position: fixed;
  left: calc(0px - (var(--sidepanel-width)));
  transition: 0.5s;
  z-index: 5;
  overflow: hidden;
}

.slider:hover {
  left: 0;
}
.slider:hover .sidepanel {
  box-shadow: 2px 0 12px 6px rgba(0, 0, 255, 0.2);
}

.sidepanel {
  background-color: darkgray;
  border-right: 2px solid rgb(14, 97, 206);
  width: var(--sidepanel-width);
  height: 100%;
  float: left;
}

.sideTab {
  width: var(--side-tab-width);
  height: 100%;
  float: left;
}

.sideTab .tab {
  background-color: rgb(14, 97, 206);
  width: var(--side-tab-width);
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tab img {
  width: 100%;
  margin: auto 0;
}

.mainpanel {
  height: 100%;
}

.toppanel {
  width: 100%;
}

.toppanel .header {
  height: var(--top-header-height);
  background-color: rgb(121, 165, 185);
  padding: 12px;
}

.toppanel img {
  height: 100%;
  display: block;
  margin: 0 auto;
}

.toppanel #category {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.toppanel .footrow {
  background-color: rgb(188, 204, 230);
  height: var(--top-option-height);
}

.footrow button,
.footrow input[type="text"] {
  background-color: transparent;
  color: black;
  border: none;
}

.sidepanel .footrow {
  text-align: center;
}

.sidepanel .footrow button {
  height: var(--top-option-height);
}

.mainpanel .footrow {
  padding: 2px 0 4px;
}

.mainpanel .footrow button,
.mainpanel .footrow input[type="text"] {
  height: 100%;
  font-weight: bold;
  border-bottom: 2px solid black;
  border-radius: 4px;
  margin: 0 4px;
}

.mainpanel .footrow input[type="text"] {
  width: 360px;
  float: right;
}

.mainpanel .footrow button {
  width: 120px;
  float: left;
}

.mainpanel .footrow button:hover,
.mainpanel .footrow input[type="text"]:hover {
  border: 0;
  border-bottom: 2px solid blue;
  background-color: rgba(0, 0, 255, 0.1);
}

.mainpanel .footrow button:active,
.mainpanel .footrow input[type="text"]:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.mainpanel .container {
  height: calc(100% - var(--top-height));
  overflow: auto;
}

.container .category {
  background-color: rgb(45, 106, 219);
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 12px 8px;
  padding: 12px;
  border-radius: 8px;
}

.container .category:hover {
  background-color: rgb(87, 133, 219);
}

.container .category:active {
  background-color: rgb(30, 72, 151);
}

.content {
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.content tr {
  border-bottom: 2px solid black;
}

.content th,
.content td {
  width: 240px;
  height: 36px;
  border-right: 1px solid black;
  border-bottom: 1px dotted black;
  padding: 8px;
  background-color: rgb(227, 235, 245);
}

.content tr:nth-child(odd) td:first-child {
  background-color: color-mix(in srgb, rgb(176, 217, 230) 90%, rgb(0, 119, 255) 10%);
}

.content tr:nth-child(odd) td {
  background-color: color-mix(in srgb, rgb(227, 235, 245) 90%, rgb(0, 119, 255) 10%);
}

.content th:nth-child(1),
.content td:nth-child(1) {
  width: 80px;
  background-color: rgb(176, 217, 230);
  text-align: right;
  border-right: 2px solid black;
  position: sticky;
  left: 0;
  padding: 8px;
  z-index: 1;
}

.content th {
  height: 32px;
  background-color: white;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  z-index: 2;
}

.content th:nth-child(1) {
  background-color: white;
  z-index: 3 !important;
}
